---
import {Image} from 'astro:assets'
import Banner5 from '../assets/images/banner5.jpg'

// general components
export interface Props {
    heading: string
    text?: string
    image?: string
    src: ImageMetadata
}

const {
    heading = 'Heading Texttttt',
    text = 'afgajkjkcnbsoufhous iohfsdlanf flshdfljnsdoign klsjfhiasjipoas aslfhpoasf klasfh',
} = Astro.props as Props

const {src} = Astro.props
---

<section>
    <Image
        src={src}
        alt='Banner Buque'
        quality='mid'
        class='relative w-fit h-auto object-fill brightness-[0.6] shadow-current shadow-sm'
    />
    <div
        class='absolute z-10 -mt-80 max-xl:-mt-60 max-md:-mt-44 max-sm:mt-[-145px] max-md:pt-5 pt-0 w-screen text-center text-fuchsia-200'>
        <h1 class='text-6xl max-md:text-4xl mb-5 pt-10 max-w-4xl m-auto font-bold'>
            {heading}
        </h1>
        <p class='mb-5 text-3xl max-md:text-xl font-medium max-md:hidden'>
            {text}
        </p>
    </div>
    <div class='pb-9 max-xl:pb-14'></div>
</section>
