---
import {Image} from 'astro:assets'
import shortLogo from '../assets/images/short-logo-rosa-e-roxo.png'
import Icon from 'astro-icon'
import {links, socialLinks} from '../links'
---

<script>
    inicializarMenu()

    function abrirMenu() {
        document.getElementById('menu').classList.remove('left-[-650px]')
        document.getElementById('menu').classList.add('left-0')
        document.getElementById('abrir-menu').classList.remove('opacity-100')
        document.getElementById('abrir-menu').classList.add('opacity-0')
    }
    function fecharMenu() {
        document.getElementById('menu').classList.remove('left-0')
        document.getElementById('menu').classList.add('left-[-650px]')
        document.getElementById('abrir-menu').classList.remove('opacity-0')
        document.getElementById('abrir-menu').classList.add('opacity-100')
    }
    // Separando botões para abrir e fechar carrinho pela tag
    function inicializarMenu() {
        const botaoFecharMenu = document.getElementById('fechar-menu')
        const botaoAbrirMenu = document.getElementById('abrir-menu')
        const botaoMenu = document.getElementById('menu')

        botaoFecharMenu.addEventListener('click', fecharMenu)
        botaoAbrirMenu.addEventListener('click', abrirMenu)
        botaoMenu.addEventListener('click', fecharMenu)
    }
</script>

<header>
    <section
        id='menu'
        class='fixed top-0 left-[-650px] h-screen w-screen md:hidden text-slate-300 z-50 duration-300 flex flex-col'>
        <div class='w-9/12 h-screen bg-fuchsia-600/95 border-r border-fuchsia-700 pt-4 px-2'>
            <div class='text-fuchsia-100 m-1'>
                <Icon
                    id='fechar-menu'
                    name='seta'
                    class='-rotate-90 cursor-pointer'
                    width='36'
                />
            </div>
            <ul class='w-full flex flex-col pt-6'>
                {
                    links.map((link) => (
                        <a
                            class='py-4 w-full flex items-start pl-5 cursor-default'
                            href={link.url}
                            id='button'>
                            <li class='flex w-7/12 text-left text-fuchsia-100 text-2xl font-light rounded-l-md pb-2'>
                                <Icon
                                name={link.icon}
                                width='32'
                                class="cursor-pointer min-w-[32px]"
                                />
                                <p class='pl-3 cursor-pointer'>
                                    {link.text}
                                </p>
                                </li>
                        </a>
                    ))
                }
            </ul>
            <hr class='my-1 border-neutral-300 ' />
            <ul class='w-full flex flex-col pt-6'>
                {
                    socialLinks.map((link) => (
                        <a
                            class='pb-3 w-full flex pl-5 cursor-default'
                            href={link.url}
                            id='button'>
                            <li class='flex w-7/12 text-left text-fuchsia-100 text-2xl font-light rounded-l-md pb-4'>
                                <Icon
                                name={link.icon}
                                width='32'
                                class="cursor-pointer"
                                />
                                <p class='pl-3 cursor-pointer'>
                                    {link.text}
                                </p>
                                </li>
                        </a>
                    ))
                }
            </ul>
        </div>
    </section>
    <nav
        id='navbar'
        class='bg-fuchsia-200 shadow-md shadow-fuchsia-100 w-full flex justify-between'>
        <div
            id='abrir-menu'
            class='md:max-w-6xl md:mx-auto md:object-center md:w-full md:flex md:justify-between md:pl-20 text-fuchsia-700 max-md:text-fuchsia-100 max-md:pl-2 max-md:fixed max-md:top max-md:left-0 max-md:z-40'>
            <div  class="md:hidden cursor-pointer transition-opacity opacity-100 duration-500 m-1">
                <Icon
                    name='menu'
                    class='w-12'
                />
            </div>
            <a href='/'>
                <Image
                    quality={'mid'}
                    src={shortLogo}
                    alt='Logo Buque Choco Rosas'
                    class='md:w-40 md:h-20 max-md:hidden md:m-3'
                    decoding='async'
                    loading='lazy'
                />
            </a>
            <ul
                class='flex items-center divide-x-2 divide-neutral-500 text-neutral-600 font-bold tracking-widest transition-transform duration-500 max-md:hidden'>
                <li
                    class='hover:text-neutral-900 hover:underline px-8 transition duration-300'>
                    <a href='/'>Início</a>
                </li>
                <li
                    class='hover:text-neutral-900 hover:underline md:px-7 transition duration-300'>
                    <a href='/links'>Links</a>
                </li>
                <li
                    class='hover:text-neutral-900 hover:underline md:px-6 transition duration-300'>
                    <a href='/produtos'>Produtos</a>
                </li>
                <li
                    class='hover:text-neutral-900 hover:underline md:px-6 transition duration-300'>
                    <a href='/sobre'>Sobre</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
