---
import Image from "astro/components/Image.astro";
import Card from "./Card.astro";

// images
import Docinho1 from "../assets/images/docinho1.jpg";
---

<div class="w-8/12 lg:w-6/12 mx-auto">
    <h1 class="text-5xl my-2"></h1>
    <div
        class="grid md:grid-cols-4 gap-5 drop-shadow-[0px_35px_35px_rgba(39,245,131,0.6)]"
    >
        <a href="/produtos/Docinho1"
            ><Image
                class="rounded"
                src={Docinho1}
                alt="docinho 1"
                width="300px"
                height="300px"
            />
            <h2>teste </h2>
        </a>
        <a href="/produtos/buquezinho1"
            ><Image
                class="rounded"
                src={Docinho1}
                alt="buquezinho 1"
                width="300px"
                height="300px"
            />
            <h2>Nome do produto</h2>
        </a>
        <a href="/produtos/buquezinho2"
            ><Image
                class="rounded-md"
                src={Docinho1}
                alt="buquezinho 2"
                width="300px"
                height="300px"
            />
            <h2>Nome do produto</h2>
        </a>
        <a href="/produtos/docinho2"
            ><Image
                class="rounded-md"
                src={Docinho1}
                alt="docinho 2"
                width="300px"
                height="300px"
            />
            <h2>Nome do produto</h2>
        </a>
        <a href="/produtos/Docinho1"
            ><Image
                class="rounded-md"
                src={Docinho1}
                alt="tt"
                width="300"
                height="300"
            />
            <h2>Nome do produto</h2>
        </a>
    </div>
</div>
